.app-container {
  background-image: url('../public/borda-de-onda-de-sintetizador-de-neon-em-um-vetor-de-modelo-de-poster-azul-escuro/rm251-mind-09-b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
